[submodule "Elastel/EG324"]
	path = Elastel/EG324
	url = https://github.com/Elastel/EG324
[submodule "Elastel/EG324L"]
	path = Elastel/EG324L
	url = https://github.com/Elastel/EG324L
[submodule "Elastel/EG410"]
	path = Elastel/EG410
	url = https://github.com/Elastel/EG410
[submodule "Elastel/EG500"]
	path = Elastel/EG500
	url = https://github.com/Elastel/EG500
[submodule "Elastel/EG510"]
	path = Elastel/EG510
	url = https://github.com/Elastel/EG510
[submodule "Elastel/ElastBox400"]
	path = Elastel/ElastBox400
	url = https://github.com/Elastel/ElastBox400
[submodule "Elastel/EG324Pro"]
	path = Elastel/EG324Pro
	url = https://github.com/Elastel/EG324Pro
[submodule "Elastel/EC212"]
	path = Elastel/EC212
	url = https://github.com/Elastel/EC212
